# Default ignored files
/../../../IdeaProjectsqc m,./network/.idea/shelf/
/../../../IdeaProjectsqc m,./network/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./network/.idea/mavenHomeManager.xml
