# Default ignored files
/../../../IdeaProjectsqc m,./karate/.idea/shelf/
/../../../IdeaProjectsqc m,./karate/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./karate/.idea/mavenHomeManager.xml
