# Default ignored files
/../../../IdeaProjectsqc m,./gymeqip/.idea/shelf/
/../../../IdeaProjectsqc m,./gymeqip/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./gymeqip/.idea/mavenHomeManager.xml
