# Default ignored files
/../../../IdeaProjectsqc m,./pipe/.idea/shelf/
/../../../IdeaProjectsqc m,./pipe/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./pipe/.idea/mavenHomeManager.xml
