# Default ignored files
/../../../IdeaProjectsqc m,./invitationcard/.idea/shelf/
/../../../IdeaProjectsqc m,./invitationcard/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./invitationcard/.idea/mavenHomeManager.xml
