# Default ignored files
/../../../IdeaProjectsqc m,./weapon/.idea/shelf/
/../../../IdeaProjectsqc m,./weapon/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./weapon/.idea/mavenHomeManager.xml
