# Default ignored files
/../../../IdeaProjectsqc m,./marble/.idea/shelf/
/../../../IdeaProjectsqc m,./marble/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./marble/.idea/mavenHomeManager.xml
