# Default ignored files
/../../../IdeaProjectsqc m,./gitag/.idea/shelf/
/../../../IdeaProjectsqc m,./gitag/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./gitag/.idea/mavenHomeManager.xml
