# Default ignored files
/../../../IdeaProjectsqc m,./king/.idea/shelf/
/../../../IdeaProjectsqc m,./king/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./king/.idea/mavenHomeManager.xml
