# Default ignored files
/../../../IdeaProjectsqc m,./hairclip/.idea/shelf/
/../../../IdeaProjectsqc m,./hairclip/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./hairclip/.idea/mavenHomeManager.xml
