# Default ignored files
/../../../IdeaProjectsqc m,./jwellery/.idea/shelf/
/../../../IdeaProjectsqc m,./jwellery/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./jwellery/.idea/mavenHomeManager.xml
