# Default ignored files
/../../../IdeaProjectsqc m,./hat/.idea/shelf/
/../../../IdeaProjectsqc m,./hat/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./hat/.idea/mavenHomeManager.xml
