# Default ignored files
/../../../IdeaProjectsqc m,./newspaper/.idea/shelf/
/../../../IdeaProjectsqc m,./newspaper/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./newspaper/.idea/mavenHomeManager.xml
