# Default ignored files
/../../../IdeaProjectsqc m,./rod/.idea/shelf/
/../../../IdeaProjectsqc m,./rod/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./rod/.idea/mavenHomeManager.xml
