# Default ignored files
/../../../IdeaProjectsqc m,./forestsafari/.idea/shelf/
/../../../IdeaProjectsqc m,./forestsafari/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./forestsafari/.idea/mavenHomeManager.xml
