# Default ignored files
/../../../IdeaProjectsqc m,./politician/.idea/shelf/
/../../../IdeaProjectsqc m,./politician/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../IdeaProjectsqc m,./politician/.idea/mavenHomeManager.xml
